.hero {
  position: relative;
  min-height: auto;
  overflow: hidden;
}

.title {

  padding-top:15vh;
  padding-bottom: 5vh;

}

.title h2 {

  font-size: clamp(1.5rem, 2.5vw, 4.5rem);

}

.gallery {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {

  .hero {
   position: relative;
   min-height: auto;
   overflow: hidden;
  }
  
  .title {
    padding-top: 100px;
    padding-bottom: 5vh;
  }

  .gallery {
    /* width: 100%; */
    max-height: 50vh;
  }

}