.brand {
  text-decoration: none;
} 

.brand h1 {
  
  color: var(--color-black);

  font-size: clamp(1.2rem, 1.5vw, 3rem);

  font-family: var(--font-main);

  font-weight: 900;

  letter-spacing: 0.08em;

  text-transform: uppercase;

  white-space: nowrap;
}

.brand h2{
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.28em;
  transform: translateY(-5px);
  /* letter-spacing: */
}

.brand:hover {
    font-size: clamp(1.2rem, 1.6vw, 3rem);
}