@font-face {
  font-family: "AntikFont";
  src: url("../assets/fonts/AntikFont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-main);
}
