.grid {
    margin-top: 2rem;

    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 2rem;

}

.title {
    max-width: 750px;
}

.titleLink {
  color: inherit;
  text-decoration: underline;
  color:var(--color-primary);
}

@media (max-width: 768px) {

    .grid {
        grid-template-columns: none;
        grid-auto-flow: column;
        grid-auto-columns: 70%;
        overflow-x: auto;
    }

}